{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}

    <header class="main-header post-head" class="author-banner"
      style="
        height: 100px;
        min-height: 100px;
        background: #18347B;
        background-image: linear-gradient(-180deg, #18347b 0%, #2a4bae 100%);
      ">
        <nav class="main-nav {{#if img_url}}overlay{{/if}} clearfix">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        </nav>
    </header>

    <section class="author-profile inner">
        {{#if img_url}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{img_url}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        {{#if bio}}
            <h2 class="author-bio">{{bio}}</h2>
        {{/if}}
        <div class="social-icons">
          {{#if website}}
              <a target="blank" class="github" href="{{website}}"><img src="/assets/images/user-github.svg"></a>
          {{/if}}
          {{#if location}}
              <a target="blank" class="twitter" href="{{location}}"><img src="/assets/images/user-twitter.svg"></a>
          {{/if}}
        </div>
    </section>


{{/author}}

{{! The main content area on the homepage }}
<main class="content" role="main">
  <div class="inner">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</div>
</main>

{{> "footer"}}
