{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">

    <nav class="main-nav overlay clearfix">
      <div class="main-header-content inner">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
      </div>
    </nav>

    <div class="vertical">
        <div class="inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            {{#if @blog.description}}
              <div class="page-subtitle ">{{@blog.description}}</div>
            {{/if}}
            {{!-- <input class="header-input" type="text" value="Submit" placeholder="Email Address"> --}}

            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">

            	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//bitpay.us7.list-manage.com/subscribe/post?u=29605d300e62d91f5e2520c67&amp;id=49b7280aaf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

            	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Receive blog updates via email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_29605d300e62d91f5e2520c67_49b7280aaf" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->



        </div>
    </div>

</header>



<div class="inner">
  <div class="row">
      <main id="content" class="content large-9 columns" role="main">
      {{> "loop"}}
      </main>
      <div class="large-3 columns" style="border-left: 1px solid #f2f2f2;">
        {{> "sidebar"}}
      </div>
  </div>
</div>


{{> "cta"}}

{{> "footer"}}
