{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav overlay clearfix">
    <div class="main-header-content inner">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
      {{#if @blog.navigation}}
          <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
      {{/if}}
    </div>
  </nav>
</header>


<div class="inner">


  <div class="sidebar large-2 columns post-author">
    {{#author}}
        {{#if image}}
        <figure class="author-image">
            <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
        </figure>
        {{/if}}

        <section class="author">
            <div class="author-name"><a href="{{url}}">{{name}}</a></h4>

            {{#if bio}}
                <div class="author-description">{{bio}}</div>
            {{/if}}
        </section>
    {{/author}}
  </div>





  <main class="content large-10 columns" role="main">
    <section class="post-content">

        <article class="{{post_class}}">
            <header class="post-header">
                <div class="post-title">{{title}}</div>
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    <div class="post-tag">{{tags}}</div>
                </section>
            </header>
            <section class="post-content">
                {{content}}
            </section>

        </article>

            <footer class="post-footer">
              {{! Everything inside the #author tags pulls data from the author }}
            </footer>
  </main>

</div>



{{!--
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside> --}}



{{/post}}
