{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav {{#if image}}overlay{{/if}}">
    <div class="main-header-content inner">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
      {{#if @blog.navigation}}
        <div class="menu-button">Menu</div>
      {{/if}}
    </div>
  </nav>
</header>


<div class="inner">


  <main class="content large-10 columns margin-top " role="main">
    <section class="post-content">
        <article class="{{post_class}}">
            <header class="post-header">
                <div class="post-title">{{title}}</div>
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    <div class="post-tag">{{tags}}</div>
                </section>
            </header>
            <section class="post-content">
                {{content}}
            </section>
        </article>
        <footer class="post-footer">
          {{! Everything inside the #author tags pulls data from the author }}
        </footer>
  </main>

  <div class="sidebar large-2 columns post-author margin-top border-left">
    {{#author}}
        {{#if image}}
        <figure class="author-image border-right">
            <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
        </figure>
        {{/if}}
        <section class="author">
            <div class="author-name"><a href="{{url}}">{{name}}</a></h4>
            {{#if bio}}
                <div class="author-description">{{bio}}</div>
            {{/if}}
        </section>
    {{/author}}
  </div>





</div>


{{/post}}

<div class="clearfix"></div>

{{> "cta"}}
{{> "footer"}}
