{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header class="main-header tag-head {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
  <nav class="main-nav overlay clearfix">
    <div class="main-header-content inner">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
      {{#if @blog.navigation}}
        <div class="menu-button">Menu</div>
      {{/if}}
    </div>
  </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content tag-page" role="main">
  <div class="inner">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
  </div>
</main>

<div class="clearfix"></div>
{{> "cta"}}
{{> "footer"}}
